body {
  color: #fff;
  /*background: #000;*/
}

#picker svg {
  margin: 0 auto;
}

#bt0 {
    position: absolute;
    color: white;
    font-family: 'Tahoma';
    font-size: 2vh;
    font-style: normal;
    font-weight: normal;
    height: 4vh;
    width: 195px;
    left: 15px;
    top: 1vh;
}

#clr_container {
    position: absolute;
    color: cyan;
    font-family: 'Tahoma';
    font-size: 2vh;
    font-style: normal;
    font-weight: normal;
    left: 1.3vh;
    top: 10vh;
	height: 25vh;
	width: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(50, 50, 50, 0.65);
}

#clr_caption_div {
    position: absolute;
    color: white;
    font-family: 'Courier New';
    font-size: 1.3vh;
    font-style: normal;
    font-weight: normal;
    left: 1.3vh;
    top: 35vh;
	height: 5.5vh;
	width: 20vh;
    display: flex;
    align-items: top;
    justify-content: center;
    background-color: rgba(50, 50, 50, 0.65);
}

#clr_select_div {
    position: absolute;
    left: 1.3vh;
    top: 6.5vh;
	height: 37px;
	width: 20vh;
    display: flex;
    align-items: top;
    justify-content: center;
    background-color: rgba(50, 50, 50, 0.65);
}

#clr_select_div select {
    font-family: 'Tahoma';
    text-align-last:center;
    direction: ltr;
    background-color: transparent;
    background-color: #111;
    border-radius: 0px !important;
    height:37px;
	width: 20vh;
    color:#fff;
    outline:none;
}
